{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>About - HealthPlix</title>
</head>
<body style="font-family: Arial; text-align:center; padding:50px;">

    <h1>About HealthPlix</h1>
    <p>
       HealthPlix is a smart healthcare platform designed to simplify how patients, doctors, and staff connect and collaborate.
       It allows patients to book appointments, consult doctors, and manage their health easily in one convenient place.
       Patients can search for doctors and keep track of their medical history, while doctors can efficiently handle appointments,
       update patient records, and provide better care through a streamlined dashboard. Staff members play an important role by
       managing schedules, coordinating appointments, and ensuring smooth day-to-day operations. With features like appointment
       tracking, prescription management, and dedicated dashboards for each role, HealthPlix makes healthcare more organized, 
       efficient, and accessible for everyone.
    </p>

    <a href="{% url 'home' %}">⬅ Back to Home</a>

</body>
</html>