{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="form-container">
    <h2>Add Doctor</h2>

    <form method="POST" enctype="multipart/form-data">  
        {% csrf_token %}
        
        <input type="text" name="name" placeholder="Doctor Name"><br><br>
        <input type="text" name="username" placeholder="Username"><br><br>
        <input type="email" name="email" placeholder="E-mail"><br><br>
        <input type="password" name="password" placeholder="Password"><br><br>
        <input type="text" name="specialization" placeholder="Specialization"><br><br>
        <input type="file" name="photo"><br><br>

        <button type="submit" style="background-color:blue; color: white; padding: 10px 20px; border: none; border-radius: 5px;">
        Add Doctor
        </button>
    </form>
</div>

<style>
body {
    margin: 0;
    background-image: url("{% static 'bg.jpg' %}");
    background-size: cover;
    background-position: center;
    font-family: Arial;
}

.form-container {
    max-width: 400px;
    width: 90%;
    margin: 40px auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 12px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

input, button {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

button {
    background-color: blue;
    color: white;
    border: none;
}

@media (max-width: 480px){
    .form-container {
        margin: 20px auto;
        padding: 15px;
    }
}
</style>
{% endblock %}